<!DOCTYPE html>
<html lang="en">
<head>
  <title>Piplet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag 'client', media: 'all' %>
</head>
<body>
  <%= yield %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
