<div class="container">

  <%= render 'admin/users/shared/primary_sidebar' %>

  <div class="col-md-10">
  
    <%= will_paginate users , :previous_label => '', :next_label => '' %>
    
    <table class="table table-striped">
      <tbody>
        <%= render users %>
      </tbody>
    </table>
    
    <%= will_paginate users, :previous_label => '', :next_label => '' %>
  
  </div>
</div>