<% provide(:title, t('user.form.edit.title')) %>

<% provide(:button_text, t('user.form.edit.submit')) %>

<div class="container">
  <%= render 'layouts/users/nav_bar' %>
  
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <div class="row page-hd">
          <div class="col-md-6">
            <h1 class='page-title'><%= t('user.form.edit.title') %></h1>
          </div>
          <div class="col-md-2 text-md-right">
            <%= link_to t('users.links.users.show'), users_show_path(current_user.username_lower)%>
          </div>
        </div>
      <%= render partial: 'form', locals: {user: user} %>
    </div>
  </div>

</div>