<div class="container">

  <%= render 'admin/users/shared/primary_sidebar' %>

  <div class="col-md-10">
    <p>
      <button class="btn btn-default" >Add a new rule</button>
    </p>
    
    <div>
    
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#whitelist" role="tab">Whitelist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#blacklist" role="tab">Blacklist</a>
        </li>
      </ul>
                
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="whitelist" role="tabpanel">w..</div>
        <div class="tab-pane" id="blacklist" role="tabpanel">b..</div>
      </div>
  
  </div>
  



