<div class="container">

  <%= render 'admin/users/shared/primary_sidebar' %>

  <div class="col-md-10">
    <p class="text-xs-right">
      <button class="btn btn-default"  data-toggle="modal" data-target="#newRuleModal">Add a new rule</button>
    </p>
    
    <div>
    
      <!-- Nav tabs -->
      <ul id="filter-tabs" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#blacklist" role="tab">Blacklist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#whitelist" role="tab">Whitelist</a>
        </li>
      </ul>
                
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="blacklist" role="tabpanel">
          <%= render partial: 'list', locals: {list: @all_blocked }%>
        </div>
        <div class="tab-pane" id="whitelist" role="tabpanel">
          <%= render partial: 'list', locals: {list: @all_trusted }%>
        </div>
      </div>
  
      <%= render 'modal_new_rule' %>
  </div>
  



