<div class="container">
  <%= render 'layouts/users/nav_bar' %>

  <div class="col-md-10 offset-md-1">
  
    <div class="row row-section">
      <%= link_to t('users.links.users.show'), users_show_path(current_user.username_lower)%>
    </div>
    
  </div>

</div>