<ul id="main-nav" class="nav nav-pills">
  <li class="nav-item">
    <%= active_link_to t('admin.links.dashboard.index'), admin_dashboard_index_path, :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('admin.links.users.index'), admin_users_users_path, :class => 'nav-link', :active => /\/users\// %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('admin.links.sites.index'), admin_sites_path, :class => 'nav-link', :active => /\/sites\// %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('admin.links.settings.index'), admin_settings_path, :class => 'nav-link', :active => /admin\/settings\// %>
  </li>
</ul>