<ul id="users-main-nav" class="nav nav-pills">
  <li class="nav-item">
    <%= active_link_to t('users.links.dashboard.index'), users_dashboard_index_path, :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('users.links.notifications.index'), users_notifications_path , :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('users.links.users.edit'), users_edit_path, :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('users.links.preferences.index'), users_preferences_path, :class => 'nav-link' %>
  </li>
</ul>