
.nav-tabs {
  margin-top: -35px;
}

.search-group input,
.search-group button  {
  font-size: 0.9rem
}

.pagination-block {
  margin-top: 20px;
  min-height: 50px;
}

.nav-filters {
  margin: 2rem 1rem 0;
}

.nav-filters .nav-link.active, 
.nav-filters .nav-link.active:focus, 
.nav-filters .nav-link.active:hover {
    color: #55595c;
    border-bottom: 1px solid #55595c;
}

table {
  margin-top: 1em;
}

.table thead th {
  border: 0;
}