<% present(log) do |log| %>
<tr class="table-<%= log.level %>">
  <td><%= link_to log.message, admin_users_log_path(user.username_lower, log), remote: true %></td>
  <td><%= l log.created_at, format: :short %></td>
</tr>
<% end %>