<div id="primary-sidebar" class="col-md-2">

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <%= active_link_to t('admin.links.users.list'), admin_users_users_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('admin.links.users.filters'), admin_users_filters_path, :class => 'nav-link' %>
    </li>
  </ul>

</div>