<div class="container">
  <%= render 'layouts/admin/users/nav_bar' , locals: { username: @user.username_lower } %>

  <div class="col-md-12">
  
    <div class="row row-section">
    
      <%= will_paginate notifications , :previous_label => '', :next_label => '' %>
    
      <table class="table table-striped">
        <tbody>
          <%= render notifications %>
        </tbody>
      </table>
    
      <%= will_paginate notifications, :previous_label => '', :next_label => '' %>
    
    </div>
    
  </div>

</div>