$primary-color: #FFF;
$secondary-color: #02C39A;
$tertiary-color :#0275D8;
$gray-medium-light: #eaeaea;

$header-height: 50px;

@import 'bootstrap';

@import 'util';

@import 'layout/header';

@import 'layout/content';

@import 'layout/footer';

@import "form";

@import "users/*";





