body {
  font-color: $primary-font-color;
}

h1, h2, h3, h3, h5, h6 {
  color: $primary-font-color;
}

.hidden {
  display: none;
}

.row-section {
  margin-top: 20px;
}

.table-striped tbody tr.row-unread {
  background-color: $unread-bg-color-even;
}


.table-striped tbody tr.row-unread:nth-of-type(2n+1) {
  background-color: $unread-bg-color-odd;
}


.font-second-color {
  color: $secondary-font-color;
}

.notice-danger {
  font-size: 0.85em;
}

.notice-danger:before {
  color: #FF4E46;
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "\f071";
  margin-right: 0.5em;
}

.notice-warning {
  font-size: 0.85em;
}

.notice-warning:before {
  color: #ffc228;
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "\f071";
  margin-right: 0.5em;
}

.notice-success {
  font-size: 0.85em;
}

.notice-success:before {
  color: #3c763d;
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "\f00c";
  margin-right: 0.5em;
}

.notice-loading {
  font-size: 0.85em;
}

.notice-loading:before {
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "\f021";
  margin-right: 0.5em;
}


/**
  * Pagination
*/
  
.pagination {
  margin-top: 2rem;
  margin-bottom: 0;
  
  .previous_page:before {
    font-family: FontAwesome;
    content: "\f060";
  }
  
  .next_page:after {
    font-family: FontAwesome;
    content: "\f061";
  }
  
  a, span, em {
    padding: 0.2em 0.5em;
  }
  
  .disabled {
      color: #99979c;
   }
  
  .current {
      font-style: normal;
      font-weight: bold;
      background: $tertiary-color;
      color: #FFF;
      border-radius: 0.1rem;
   }
   
   a {
     color: $primary-font-color;
     text-decoration: none;

   }
   
  a:hover, .pagination a:focus {
        background: #eceeef;
        border-radius: 0.1rem;
  }
  
  a.next_page,
  a.previous_page {
    border-width: 0;
  }
  
  
  .previous_page {
    margin-right: 0.8em;
  }
  
  .next_page {
    margin-left: 0.8em; 
  }
   
}