$primary-color: #FFF;
$secondary-color: #02C39A;
$tertiary-color :#0275D8;
$gray-medium-light: #eaeaea;

$link-primary-color: #0275d8;
$link-hover-primary-color: #025AA5;
$link-secondary-color: #99979C;
$link-hover-secondary-color: #525252;

$header-height: 50px;
