$primary-color: #FFF;
$secondary-color: #00C566;
$tertiary-color :#0275D8;

$primary-font-color: #525252;
$secondary-font-color : $tertiary-color;


$gray-medium-light: #eaeaea;

$link-primary-color: $secondary-color;
$link-hover-primary-color: #025AA5;
$link-secondary-color: #99979C;
$link-hover-secondary-color: $primary-font-color;

$header-height: 50px;


$unread-bg-color-even: #FCF88A;
$unread-bg-color-odd: #FFFCD1;

/**
* bootstrap variables
*/
$modal-backdrop-bg: #FFF;