<header class="header navbar navbar-fixed-top">
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <!-- logo -->
          <div id="logo" class="logo">
            <a href="index.html"><img id="logo_img" src="images/logo_cool_green.png" alt="The Project"></a>
          </div>
      </div>
      <div class="col-md-6">
        <!-- header-right start -->
        <!-- ================ -->
        <div class="content-right clearfix">
          

        <div class="main-navigation  animated with-dropdown-buttons">

          <!-- navbar start -->
          <!-- ================ -->
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <a class="btn btn-primary-outline btn-sm" href="#" role="button">Log In</a>
              <%= link_to t('user.sign-up'), signup_path, class: 'btn btn-primary-outline btn-sm', role: 'button' %>

            </div>
          </nav>
          <!-- navbar end -->

        </div>
        <!-- main-navigation end -->  
        </div>
        <!-- header-right end -->
  
      </div>
    </div>
  </div>
  
</header>
<!-- header end -->